*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
nav{
    background-image: linear-gradient(#82eefd, blue);
    height: 70px
    width: 100%;
}
label{
    color: whitesmoke;
    font-size: 40px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: 700;
}
nav ul{
    float: right;
    margin-right: 25px;
}
nav ul li{
    display: inline;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: whitesmoke;
    font-size: 18px;
    padding: 7px 13px;
    text-transform: uppercase;
}
span{
    color: teal ;
}
h1{
    font-size: 40px;
}
h3{
    text-align: center;
}
.half-width{
    width: 50%;
    padding-left: 4%;
}
.half-width img{
    width: 80%;
 
}
.flexible-section{
    display: flex;
    margin-bottom: 50px;
    float: right;
    padding: 20px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(#82eefd, blue);
    padding: 10px 40px;
    border-radius: 25px;
    color: whitesmoke;
    font-weight: 700;
}
.middle-bg{
    background-image: url(images/shapes/Frame\ 56.jpg);
    background-size: cover;
}